html, body{
    display: block;
    position: relative;
    background-color: gray;
    height: 100%;
    margin: 0;
  
}

body{
    width: 90%;
    max-width: 390px;
    margin: 0 auto;
    color: white;
}

#chooser{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    background-color: #939699;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%; /* Button width will adjust to screen size */
    max-width: 400px; /* Ensures it's not too wide on larger screens */
    margin: 15px ; /* Center the button horizontally */
    display: block; /* Make the button a block-level element */
  }
  
  button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
  }
  
  button:active {
    background-color: #1c5985;
    transform: scale(0.98);
  }

#whole{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
   
}

.row{
    padding: 14px;
}

.col{
    padding: 30px;
}

#colOne{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#colTwo{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#colOne{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#colThree{
    border-right: 1px solid black;
}

#colFour{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#colFive{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

#colSix{
    border-right: 1px solid black;
}

#colSeven{
 border-bottom: 1px solid black;  
}

#colEight{
    border-bottom: 1px solid black;
}



/* #one{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#two{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#three{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#four{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#five{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#six{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#seven{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#eight{
    width: 70px;
    height: 70px;
    border: 1px solid black;
}

#nine{
    width: 70px;
    height: 70px;
    border: 1px solid black;
} */