img{
    width: 90px;
    height: 80px;
    margin-top: 5px;
    border: 1px solid black;
}

#whole{
   margin-top: 50px;
}

body{
    background-color: gray;
}

#lastImg{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#chosenImg{
    height: 120px;
    width: 150px;
   
}